<?xml  version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="WEB-INF/META-INF/app.properties" />

    <!-- DAO -->

    <!-- Service -->
    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate" scope="prototype"></bean>
    <bean id="Validator" class="ru.axxle.insurance.web.validation.Validator" scope="prototype">
        <constructor-arg type="java.lang.String" name="validateUrl" value="${service.validation.server.url}" />
    </bean>

    <bean id="webInsuranceCalcService"  class="ru.axxle.insurance.web.service.WebInsuranceCalcServiceImpl" />

    <bean id="calcService"  class="ru.axxle.insurance.service.InsuranceCalcServiceImpl">
        <constructor-arg type = "java.lang.String" name="factorRealtyTypeApartment" value = "${calc.factorRealtyTypeApartment}" />
        <constructor-arg type = "java.lang.String" name="factorRealtyTypeHouse" value = "${calc.factorRealtyTypeHouse}" />
        <constructor-arg type = "java.lang.String" name="factorRealtyTypeRoom" value = "${calc.factorRealtyTypeRoom}" />
        <constructor-arg type = "java.lang.String" name="factorRealtyBuildYearLessThan2000" value = "${calc.factorRealtyBuildYearLessThan2000}" />
        <constructor-arg type = "java.lang.String" name="factorRealtyBuildYearBetween2000and2014" value = "${calc.factorRealtyBuildYearBetween2000and2014}" />
        <constructor-arg type = "java.lang.String" name="factorRealtyBuildYear2015AndMore" value = "${calc.factorRealtyBuildYear2015AndMore}" />
        <constructor-arg type = "java.lang.String" name="factorRealtyAreaLessThan50" value = "${calc.factorRealtyAreaLessThan50}" />
        <constructor-arg type = "java.lang.String" name="factorRealtyAreaBetween50and100" value = "${calc.factorRealtyAreaBetween50and100}" />
        <constructor-arg type = "java.lang.String" name="factorRealtyAreaMore100" value = "${calc.factorRealtyAreaMore100}" />
    </bean>
    <bean id="calcService1"  class="ru.axxle.insurance.service.InsuranceCalcServiceImpl">
    </bean>
    <!-- Postgres Heroku -->
    <bean class="java.net.URI" id="dbUrl">
        <constructor-arg value="#{systemEnvironment['DATABASE_URL']}"/>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="#{ 'jdbc:postgresql://' + @dbUrl.getHost() + ':' + @dbUrl.getPort() + @dbUrl.getPath() + '?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory' }"/>
        <property name="username" value="#{ @dbUrl.getUserInfo().split(':')[0] }"/>
        <property name="password" value="#{ @dbUrl.getUserInfo().split(':')[1] }"/>
    </bean>

</beans>
